.grid {
	overflow: hidden;
	margin: 1rem;
}

.mega {
	margin-top: 1rem;
}

.unit {
	border-radius: 7px;
	float: left;
}

.gutter {
	padding: 0 1.5rem;
}

.unit-s-1 {
	width: 100%;
}

.unit-s-1-2 {
	width: 50%;
}


@media only screen and (min-width: 30em) {
.grid {
	margin: .5rem 1.5rem 1.5rem;
}

	.unit-m-1-3 {
		width: 33.333%;
	}


	.unite-m-1 {
		width: 100%;
	}

	.unit-m-1-2 {
		width: 45%;
		margin-right: 3%;
	}
}

@media only screen and (min-width: 50em) {
	.grid {
	max-width: 80%;
	margin: .5rem auto 1rem;
}

	.unit-l-1-3 {
		width: 30%;
	}

	.unit-l-2-3 {
		width: 60%;
	}

	.unit-l-3-4 {
		max-width: 65%;
		margin: 1rem auto;
	}


}

