---
layout: default
title: Welcome
bannerindextext: The Watch Heaven Store
showindexbanner: yes
meta-desc: Short description of the page

---

<main role="main">
	<div class="grid">

		<div class="unit-s-1 unit-l-3-4 unit-s-1 unit-l-1-3 float-left margin-right">
			<img class="img-flex" src="{{site.baseurl}}/images/doctor-who-watch-1.jpg" alt="Home Page Watch">
		</div>
		<div class="unit-s-1 unit-l-2-3 float-left">
			<h3>Welcome to Watch Heaven</h3>
			<p>We've included all of our special watches for you to look and brows. We specialize in making custom pocket watches for your self or for a gift. Every watch is hand made and imprinted. We sell special editions (for a limited time only) and brand new designs. Every watch bought in the store can be made with either Antique Brass or Silver. As well as personalized engraving is free with any purchase above 40$. We love to make watches for you, and because we do your next purchase made before April 15th will have a 20% discount!</p>
		</div>
	</div>
	<div class="grid">

	<div class="unit-s-1 unit-l-3-4 feature">
	<h3>Featured Necklace</h3>
			<img class="img-flex " src="{{site.baseurl}}/images/feature-image.jpg" alt="Feature Image">
		</div>
		<h3>Top Sold Watches</h3>

		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html title="Docto Who Watch" desc="This is our Limited Edition Doctor Who Pocket Watch" price="27.00$" button="Click Here" image="doctor-who-watch-3.jpg" %}
		</div>

		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
				{% include promo-small.html title="Zelda Watch" desc="Has Zelda stole your heart? Redeem it with this amazing Pocket watch!" price="22.00$" button="Click Here" image="zelda-1.jpg" %}
		</div>

		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html title="Iron Man Watch" desc="Our newest movie-base watch coming from the great Iron Man movies!" price="25.00$" button="Click Here" image="iron-man-1.jpg" %}
		</div>

		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html title="Galaxy Watch" desc="Our new featured Galaxy watch, the new featured watch of the month!" price="20.00$" button="Click Here" image="galaxy-watch.jpg" %}
		</div>
	</div>
</main>
