# User Testing Report

User testing was conducted by Melissa Roy on the 26th of March between the times of 3pm and 3:40pm with the following participants:

- Rebecka Cole
- Anita Chanthavong
- Thalia Bacilio

## Tasks

1. Go to Store
2. Buy Product Zelda
3. Purchase Item

---

## Individual Results & Observations

### Rebecka

- She clicked on Store
- She added to cart
- Wasn't sure where to finalize purchase
- Checked out

### Anita

- She clicked on Store
- She added to cart
- Was confused on which button to press when in cart
- Checked out

### Thalia

- She clicked on Store
- She added to cart
- Checked out

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Have one button for cart not two. (One general button)

### Serious, Causes Frustration, May Hinder Completion

- Wasn't sure where to finalize purchase.

### Minor, Annoying, Won’t Hinder Completion

- Nothing
