---
layout: default
title: Our Store
---
<div class="grid">
	<h3>Our Watch Store</h3>
</div>

<div class="small-contain list-group-item list-group-item-inline">
        <a class="button margin-right btn-alt" href="{{site.baseurl}}/store/necklace">Necklaces</a>
        <a class="button margin-right btn-alt" href="{{site.baseurl}}/store/watch">Watches</a>
		</div>


<div class="grid">

	{% for pendant in site.pages %}
		{% if pendant.category == 'pendant' %}
			<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
					<a href="{{site.baseurl}}{{pendant.url}}"><img class="img-flex" src="{{site.baseurl}}/images/{{pendant.images}}" alt="{{pendant.title}} Watch"></a>
					<h4 class="text-center">{{pendant.title}} Pendant</h4>
					<p class="text-center">{{pendant.meta}}</p>
					<h5 class="no-border text-center">{{pendant.price}}</h5>
					<a class="small-contain button " href="{{site.baseurl}}{{pendant.url}}">Buy Now</a>
			</div>
		{% endif %}
	{% endfor %}

	</div>

