<div class="promo-small">
	<img class="img-flex" src="{{site.baseurl}}/images/{{include.image}}" alt="">
	<div class="gutter">
		<h4 class="text-center">{{include.title}}</h4>
		<p class="milli text-center small-contain">{{include.desc}}</p>
		<h5 class="no-border text-center">{{include.price}}</h5>
		<a class="button small-contain" href="{{include.link}}">{{include.button}}</a>
		<h6><a href="#"><img class="text-center small-contain no-border" src="../images/stars.png" height="14" width="74" alt="star rating"></a></h6>
	</div>
</div>
