.grid {
	overflow: hidden;
	margin: 1rem;
}

.mega {
	margin-top: 1rem;
}

.unit {
	border-radius: 7px;
	float: left;
}

.gutter {
	padding: 0 1.5rem;
	margin-bottom: 2rem;
}

.unit-s-1 {
	width: 100%;
}


.unit-s-1-2 {
	width: 50%;
}


@media only screen and (min-width: 30em) {
.grid {
	margin: .5rem 1.5rem 1.5rem;
}

	.unit-m-1-3 {
		width: 33.333%;
		margin-bottom: 1.5rem;
	}


	.unit-m-1 {
		width: 100%;
	}

	.unit-m-1-2 {
		width: 45%;
		margin-right: 3%;
		margin-bottom: 1rem;
	}

	.unit-m-2-3 {
		width: 60%;
		float: left;
		margin-bottom: 2rem;
	}

	.unit-m-1-max {
	max-width: 70%;
}

}

@media only screen and (min-width: 50em) {
	.grid {
	max-width: 80%;
	margin: .5rem auto 1rem;
}

	.unit-l-1-3 {
		width: 30%;
		margin-bottom: 1.5rem;
	}

	.unit-l-2-3 {
		width: 45%;
		margin-right: 3%;
	}

	.unit-l-3-4 {
		max-width: 65%;
		margin: 1rem auto;
	}

		.unit-l-1 {
		max-width: 100%;

	}


}

.detail-bg {
	background-color: #eee;
	border-radius: 7px;
	float: left;
}

.centered-element {
	margin: auto 0;
}

.margin-right {
	margin-right: 1.5rem;
}
