ul {
	font-family: 'Lato', arial, sans-serif;
}

.container{
	border-radius: 7px;
}
.no-border{
	border: none;
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}

.img {
	margin: 0 auto .5rem auto;
	display: table;
}

.small-contain {
	display: table;
	margin: 2rem auto 1rem;
}

.red {
	color: red;
}

.margin-above {
	margin-top: .5rem;
}
