---
layout: default
---

<div class="small-contain list-group-item list-group-item-inline">
        <a class="button margin-right btn-alt" href="{{site.baseurl}}/store/necklace">Necklaces</a>
        <a class="button margin-right btn-alt" href="{{site.baseurl}}/store/watch">Watches</a>
        <a class="button btn-alt" href="{{site.baseurl}}/store">All</a>
		</div>
<hr>

<div class="grid">

	<div class="detail-bg unit detail-bg gutter unit-s-1">
		<h2 class="mega">{{page.title}} {{page.edition}}</h2>
		<img class="float-left unit-s-1 unit-m-1-2 unit-l-1-3" src="{{site.baseurl}}/images/bg-watches/{{page.img-desc}}" alt"{{page.title}} Watch">

		<dl>
			<dt>
				<h3 class="no-border display-inline"><b>Price:</b></h3>
			</dt>
			<dd>
				{{page.price}}
			</dd>

			<dt>
				<h6 class="no-border display-inline"><strong>Pendant Size:</strong></h5>
			</dt>
			<dd>
				{{page.size}}
			</dd>

				<dt>
				<h6 class="no-border display-inline"><strong>Possible Colours:</strong></h5>
			</dt>
			<dd>
				{{page.colour}}
			</dd>

			<dt>
				<h6 class="no-border display-inline"><strong>Edition:</strong></h5>
			</dt>
			<dd>
				{{page.edition}}
			</dd>

				<dt>
				<strong>Description:</strong>
			</dt>
			<dd>
				{{content}}
			</dd>
		</dl>

		<div class="small-contain">
			<a class="button" href="{{site.baseurl}}/cart/">Add To Cart</a>
			<h6><a href="#"><img class="small-contain no-border" src="{{site.baseurl}}/images/stars.png" alt"rating stars"></a></h6>
		</div>

	</div>

</div>
