---
layout: default
---

<div class="grid">

	<h3>{{page.title}} {{page.edition}}</h3>
	<div class="detail-bg unit detail-bg gutter unit-s-1">
		<img class="float-left unit-s-1 unit-m-1-2 unit-l-1-3 margin-top" src="{{site.baseurl}}/images/bg-watches/{{page.img-desc}}" alt"{{page.title}} Watch">

		<dl>
			<dt>
				<h3 class="no-border display-inline"><b>Price:</b></h3>
			</dt>
			<dd>
				{{page.price}}
			</dd>

			<dt>
				<h6 class="no-border display-inline"><strong>Pendant Size:</strong></h5>
			</dt>
			<dd>
				{{page.size}}
			</dd>

				<dt>
				<h6 class="no-border display-inline"><strong>Possible Colours:</strong></h5>
			</dt>
			<dd>
				{{page.colour}}
			</dd>

			<dt>
				<h6 class="no-border display-inline"><strong>Edition:</strong></h5>
			</dt>
			<dd>
				{{page.edition}}
			</dd>

				<dt>
				<strong>Description:</strong>
			</dt>
			<dd>
				{{content}}
			</dd>
		</dl>

		<div class="small-contain">
			<a class="button" href="{{site.baseurl}}/cart/">Add To Cart</a>
		</div>

	</div>

</div>
